@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

nav {
    padding: 25px 10px;
}

.king-gadget-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
}

header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 19px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

nav ul li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}


.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.hamburger .bar {
    height: 3px;
    margin: 4px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

/* Rotate animation */
.hamburger.rotate .bar1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.rotate .bar2 {
    opacity: 0;
}

.hamburger.rotate .bar3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.rotate {
    transform: rotate(90deg);
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.account-details {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    right: 0;
    top: 58px;
  }

  .account-details a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
  }

  span ol li {
    list-style: none;
  }

  span ol li a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
 

@media (max-width: 670px) {
    .hamburger {
        display: block;
        z-index: 3;
    }

    .rotate {
        position: fixed;
    }

    .nav-content {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .nav-content.show {
        position: absolute;
        top: -16px;
        right: 0px;
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background: green;
        overflow: hidden;
    }

    .king-gadget-nav {
        justify-content: space-between;
    }

    .header {
        gap: 10px;
    }
}







.tabs button {
    border: none;
    border-radius: 8px;
    background: #eee;
    cursor: pointer;
    transition: background 0.3s;
}

.tabs button.active {
    filter: blur(1px);
    border: 1px solid gray;
}

.tabs button:hover {
    background: #ddd;
}

.tab-content {
    display: none;
}

.tab-content img {
    border-radius: 15px;
}

.tab-content.active {
    display: block;
}

.sneakers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 70px 10px;
}

.sneaker-img {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 40%;
    align-items: center;
}

.main-img {
    max-width: 300px;
}

.sneaker-details {
    width: 60%;
    padding: 40px 0;
}

.sneaker-details span {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.sneaker-details p {
    width: 70%;
    padding-bottom: 20px;
    line-height: 3vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.sneaker-details .edition {
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.sub-img {
    display: flex;
    max-width: 292px;
    justify-content: space-between;
    gap: 10px;
}

.sub-img img {
    height: 60px;
    border-radius: 6px;
}

.price-offer {
    display: flex;
    justify-content: space-between;
    width: 24%;
    align-items: center;
}

.price-offer h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.discount h1 {
    padding: 3px;
    color: white;
    background: black;
    font-size: 16px;
    margin: 0 4px;
    border-radius: 5px;
}

.discount small {
    font-size: 14px;
}

.sneaker-details .old-price {
    font-weight: bold;
    padding: 2px 0;
    text-decoration: line-through;
    font-size: 15px;
    color: #0000007d;
    font-family: 'Poppins', sans-serif;
}

.icon-container {
    display: flex;
    gap: 20px;
    /* Space between icons */
}

.icon-container .icon {
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.icon-container .icon:hover {
    opacity: 0.5;
}

.icon:hover .account-details {
    display: block;
  }

.fa-user {
    background-color: #00000059;
    color: white;
}

@media (max-width: 800px) {
    .sneakers {
        padding: 10px;
    }
    .sneaker-details, .sneaker-img {
        width: 100%;
    }
    .sneaker-details p {
        width: 100%;
    }
}